$red-color: #A11411;
$text-color: #922522;
$main-color: #e3d7bd;
$container-color: #f9f4df;
$wood-color: #9d8648;
$main-width: 670px;


@mixin round($radius: 5px) {
  -moz-border-radius:    $radius;
  -webkit-border-radius: $radius;
  border-radius:         $radius;
}

@mixin tscale($width, $height) {
  transform: scale($width, $height);
  -ms-transform: scale($width, $height); /* IE 9 */
  -webkit-transform: scale($width, $height); /* Safari and Chrome */
  -o-transform: scale($width, $height); /* Opera */
  -moz-transform: scale($width, $height); /* Firefox */
}

@font-face
{
  font-family: ImpactBackup;
  src: url('#{$source}/impact.ttf')

}

.span-17{
  margin: 0 15px
}

ul{
  .hmenu {
    list-style: none;
    margin: 0 0 2em;
    padding: 0;
  }
  .hmenu li {
    display: inline;
  }
}

.round {
  @include round;
}

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.container {
  width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 3px;
  background-color: $container-color
}

body {
  background-color: $main-color;
  font-family:  ImpactBackup, sans-serif;
}

header {
  //padding-top: 20px;
  //height: 75px;

  nav {
  background-color: $wood-color;
  padding: 0 15px;
  white-space: nowrap;
  text-align: center;
  color: #bdaf82;
  float: center;
  height: 40px;
  }

  section{
    height: 74px;
    background-color: #d5c9a8;


    span#title {
      width:548px;
      float: left;
      div {
        width:548px;
        line-height: 1.2;
        text-align: center;
        color: $text-color;
        font-size: 5em; // 5em = 60px since default is 12px
        }
    }

    span#best {
      width:548px;
      float: left;
      div {
        width:548px;
        line-height: 1.2;
        text-align: center;
        color: $text-color;
        font-size: 2.5em; // 5em = 60px since default is 12px
        }
    }

    .left-hand {
      float: left;
      display: block;
      width: 61px;
      height: 74px;
      background-image: url(/images/hand_left.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    .right-hand{
      float: right;
      display: block;
      width: 61px;
      height: 74px;
      background-image: url(/images/hand_right.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

.h-line{
  margin: 5px 2px;
  width: 666px;
  height: 8px;
  display: block;
  background-image: url(/images/header_line1.png);
}

#whomade {
  width: 468px;
  img {
    margin: 18px 16px 17px 16px;
  }
}

.redstar {
  margin: 14px 0px;
  float: left;
  width: 36px;
  height: 313px;
  background-image: url(/images/redstars.png)
}

section {
  background: #fff;
}

.bodytext {
  width: 468px;
  height: 345px;
  background-color: #d5c9a8 ;

    h1 {
      color: #9d8748;
      margin: 15px 0px 0px 20px;
    }

    p {
      color: darken($red-color, 5%);
      font-family: 'Arial-Black', 'Arial Black', sans-serif;
      font-size: 13px;
      font-weight: 800;
      margin: 15px 10px 0px 20px
    }
}

.imgbanner {
  width: 165px;
  height: 345px;

  img {
    display: table-cell;
    margin: 3px auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  }
}

img#logo {
  width: 165px;
  height: 100px;
}

section h1 {
  font-size: 2em;
}

#footer {
  margin-top: 15px;
  margin-left: 10px;
  width: 675px;
  height: 35px;
  display: block;
  background-image: url(/images/footer_flourish.png);
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

/* Links */

a {
  text-decoration: none;
  font-weight: normal;
  color: $red-color;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #bdaf82;
}

#main {
  font-size: 24px;
  text-align: center;
}

/* Navigation */

nav h4 {
  margin: .5em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 9.5px 2px 9.5px 18px ;
  font-size: 1.2em;
}

nav ul li#current{
  color: white;
  background-image: url(nav_star1.png);
  background-repeat: no-repeat;
  background-position: 2% 45%;
}

nav ul li a {
  font-weight: normal;
  color: $red-color;
}

nav ul li a:visited {
  color: #bdaf82;
}

nav ul li a:hover {
  color: #8E000F;
  text-decoration: none;
}

#admin_edit {
  margin-bottom: 1em;
}

#stickyfooter {
	visibility: visible;
	bottom: 10px;
	position: fixed;
	height: 50px; /* must be the same value as height */
	width: $main-width;
	clear: both;
	text-align: center; /* up to you */
	color: #797979;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#Splash
{
text-align: center;
}
