!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title JOHNNYVILLE SLUGGER
    /%link(rel="stylesheet" href="/stylesheets/application.css")
    %script(type="text/javascript" src="https://d1zguf60fl3jx1.cloudfront.net/jvslite/jquery.js")
    %script(type="text/javascript" src="/javascripts/404.js")
  %body
    %h1 Sorry, this page doesn't exist.
    %br
    Don't worry, we're taking you back to somewhere safe
