%header
  %img(src="header_line1.png" class= 'h-line')

  %section
    /%span#left-hand= image_tag "hand_left.png"
    %span#title JOHNNYVILLE SLUGGER
    /%span#right-hand= image_tag "hand_right.png"

  /= image_tag "header_line1.png", class: 'h-line'
